<h1>Edit Style</h1>
<p>Find me in app/views/styles/edit.html.erb</p>

<!-- render the form partial -->
<%= form_for @style do |s| %>
    <div>
      <%= s.label :default_image %>
      <%= s.text_field :default_image %>
    </div>

    <div>
      <%= s.label :name %>
      <%= s.text_field :name %>
    </div>

    <div>
      <%= s.label :style_number %>
      <%= s.text_field :style_number %>
    </div>

    <div>
      <%= s.label :reference %>
      <%= s.text_field :reference %>
    </div>
    <div>
      <%= s.label :cost %>
      <%= s.number_field :cost %>
    </div>
    <div>
      <%= s.label :msrp %>
      <%= s.number_field :msrp %>
    </div>
    <div>
      <%= s.submit %>
    </div>
    <% end %>

<%= link_to 'New Style', new_style_path(@style) %>

<%= link_to 'Home', root_path %>
