<p id="notice"><%= notice %></p>

<div class="container">



  <h1>Style List</h1>
  <%= link_to 'Create New Style', new_style_path(@style) %>

  <% Style.all.order(:style_number).in_groups_of(3, false).each do |group| %>

  <div class="row">
    <% group.each do |s|%>
    <div class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= s.style_number %> - <%= s.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4 picture"><%= image_tag s.avatar.url(:thumb) %></div>
            <div class="col-xs-4 left">
              <br>
              Reference: <br>
              Cost: <br>
              MSRP:
            </div>
            <div class="col-xs-4 right">
              <br>
              <%= s.reference %><br>
              $<%= s.cost %><br>
              $<%= s.msrp %>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to 'Style', style_path(s), class: 'btn btn-sm btn-info' %> <%= link_to 'Edit', edit_style_path(s), class: 'btn btn-sm btn-primary'%> <%= link_to 'Delete', style_path(s), {method:"DELETE", class: 'btn btn-sm btn-danger'}%>
        </div>
      </div>



    </div>
    <% end %>
  </div>
<% end %>
</div>
