<h1>Styles#show</h1>
<p>Find me in app/views/styles/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Pic:</strong>
  <%= image_tag @style.default_image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Style Number:</strong>
  <%= @style.style_number %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @style.reference %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @style.cost%>
</p>
<p>
  <strong>MSRP:</strong>
  <%= @style.msrp%>
</p>



<%= link_to 'Edit', edit_style_path(@style) %>
<%= link_to 'Home', root_path %>
