<h1>Styles#show</h1>
<p>Find me in app/views/styles/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @style.avatar.url %>
</p>

<p>
  <strong>Style Number:</strong>
  <%= @style.style_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @style.reference %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @style.cost%>
</p>

<p>
  <strong>MSRP:</strong>
  <%= @style.msrp%>
</p>
<%= link_to 'Edit', edit_style_path(@style) %>
<%= link_to 'Home', styles_path %>
<%#= link_to 'Edit Color', edit_varient_path(@style.varients.ids)%>
<%= link_to 'Add Color', new_style_varient_path(@style)%>

<table>
  <thread>
    <tr>
      <th></th>
      <th>Color</th>
      <th>Material</th>
      <th colspan="3"></th>
    </tr>
  </thread>
  <tbody>
    <!-- <% @varients = Varient.reorder(:color) %> -->
    <% @style.varients.each do |v| %>
    <tr>
      <td><%= image_tag v.picture.url %></td>
      <td><%= v.color %></td>
      <td><%= v.material%></td>
      <td><%= link_to 'Edit', edit_style_varient_path(@style, v)%> </td>
      <td><%= link_to 'Delete', style_varient_path(@style, v), {method:"DELETE"}%></td>
    </tr>
    <% end %>
</table>
<!-- <% @style.varients.each do |b| %>
	<p><%= b.color %></p>
	<p><%= b.material %></p>
  <p><%= b.image %></p>
<% end %> -->
