<p id="notice"><%= notice %></p>

<h1><%= @style.style_number %> - <%= @style.name %></h1>
  <p><%= image_tag @style.avatar.url(:medium) %></p>
  <p><strong>Reference: </strong><%= @style.reference %></p>
  <p><strong>Cost: </strong>$<%= @style.cost%></p>
  <p><strong>MSRP: </strong>$<%= @style.msrp%></p>

<div class="center">

<%= link_to 'Edit', edit_style_path(@style), class: 'btn btn-sm btn-primary' %> 
<%= link_to 'Style', styles_path, class: 'btn btn-sm btn-info' %>
<%= link_to 'Add Color', new_style_varient_path(@style), class: 'btn btn-sm btn-success' %>
</div>
<% @style.varients.all.order(:color).in_groups_of(3, false).each do |group| %>

<div class="row">
  <% group.each do |v|%>
  <div class="col-md-4 col-sm-2">
  <div class="grid">
  <div class="row">
    <div class="col-md-5 picture2"><%if v.picture_file_name %><%= image_tag v.picture.url(:medium) %><% end %></div>
    <div class="col-md-6 left"><strong>Color</strong></div>
    <div class="col-md-6 left"><%= v.color %></div>
    <div class="col-md-6 left"><strong>Material</strong></div>
    <div class="col-md-6 left"><%= v.material%></div>
  </div>
  <div class="row center2">
    <div class="col-md-6"><%= link_to 'Edit', edit_style_varient_path(@style, v), class: 'btn btn-sm btn-primary' %> </div>
    <div class="col-md-6"><%= link_to 'Delete', style_varient_path(@style, v), {method:"DELETE", class: 'btn btn-sm btn-danger'}%></div>
  </div>
  </div>
  </div>
  <% end %>
</div>
<% end %>
