<h1>Styles#show</h1>
<p>Find me in app/views/styles/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Pic:</strong>
  <%= image_tag @style.default_image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Style Number:</strong>
  <%= @style.style_number %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @style.reference %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @style.cost%>
</p>
<p>
  <strong>MSRP:</strong>
  <%= @style.msrp%>
</p>
<% @style.varients.each do |b| %>
	<h3><%= b.color %></h3>
	<p><%= b.material %></p>
  <p><%= b.image %></p>

<% end %>


<%= link_to 'Edit', edit_style_path(@style) %>
<%= link_to 'Home', root_path %>
<%= link_to 'Edit Color', edit_varient_path(@style.varients.ids)%>
<%= link_to 'Add Color', new_varient_path(@style.varients.ids)%>
