

<h1>Color and Material</h1>
<div class="container">


<%= form_for [@style, @varient] do |f| %>
  <div class="form-group">
		<%= f.label :image, class: 'col-md-4 control-label'%>
		<div class="col-md-5">
		<%= f.file_field :picture, class: "form-control" %>
	</div>
	</div>
	<div class="form-group">
		<%= f.label :color, class: 'col-md-4 control-label' %>
		<div class="col-md-5">
		<%= f.text_field :color, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :material, class: 'col-md-4 control-label' %>
		<div class="col-md-5">
		<%= f.text_field :material,  class: "form-control" %>
		</div>
	</div>

<div class="col-md-8 col-md-offset-4">
	<button type="submit" class="btn btn-default">Add Color</button>
</div>
<% end %>
</div>
<%= link_to 'Cancel', style_path(@style)%>
