<h1>Varients#edit</h1>
<p>Find me in app/views/varients/edit.html.erb</p>

<h1>Color and Material</h1>

<%= form_for ([@style, @varient]), html: {multipart:true} do |f| %>

	<%= f.label :image %>
	<%= f.file_field :picture %>

	<%= f.label :color %>
	<%= f.text_field :color %>

	<%= f.label :material %>
	<%= f.text_field :material %>


	<%= f.submit %>
<% end %>

<%= link_to 'Cancel', style_path(@style)%>
